* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #E5E5E5;
}
.container {
    width: 375px;
    margin: 0 auto;
    margin-top: 100px;

    background-color: #F4F4F4;
}
header {
    height: 66px;

    background-color: #1B83E2;
}
main {
    padding: 24px;
}
h1 {
    font-size: 24px;

    padding-top: 25px;

    text-align: center;
    color: #F4F4F4;
}
label {
    font-weight: 400;
    font-size: 14px;

    color: #777777;
}
select {
    height: 48px;
    width: 100%;
    border-radius: 4px;
    padding-left: 16px;
    margin-top: 6px;
    margin-bottom: 24px;

    cursor: pointer;
    outline: none;/*um azul em volta do selet quando passa o cursor*/
    appearance: none;/*a seta do selet*/
    display: block;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
input {
    height: 48px;
    width: 100%;
    padding-left: 16px;
    margin-top: 6px;
    margin-bottom: 24px;
    border-radius: 4px;

    font-size: 18px;
    outline: none;
    display: block;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
button:hover {
    opacity: 0.9;
}
button:active {
    opacity: 0.7;
}
section {
    border-radius: 4px;
    border: 1px solid #1B83E2;
}

.currency-container {
    padding: 10px;

    font-size: 14px;
    text-align: center;
    color: #777777;
}

.currency-value {
    color: #1B83E2;
    font-weight: bold;
    font-size: 20;
}

.arrow-img {
    margin: 15px auto;
    display: block;
}
